:root {
  --img-max-width: 25vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards img {
  max-width: var(--img-max-width);
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}
